body {
  display: flex;
  justify-content: center;
}
.container div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 400px;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: rgb(255, 205, 145);
  border: 5px solid rgb(255, 205, 145);
  gap: 5px;
}
