body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
  gap: 20px;
}
.game-board .field {
  font-size: 100px;
  color: rgb(255, 205, 145);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: rgb(255, 205, 145);
  border: 5px solid rgb(255, 205, 145);
  gap: 5px;
}

#results {
  font-size: 50px;
  color: rgb(255, 205, 145);
  font-weight: 600;
}

#new-game {
  margin-top: 10px;
  background-color: white;
  color: rgb(255, 205, 145);
  border: 5px solid rgb(255, 205, 145);
  border-radius: 8px;
  padding: 15px;
  font-weight: 600;
  font-size: 25px;
}

#new-game:hover {
  background-color: rgb(255, 205, 145);
  color: white;
}
