body {
  display: flex;
  justify-content: center;
}
.container div {
  margin: 5px;
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(255, 205, 145);
  background-color: white;
}

.container {
  width: 400px;
  height: 400px;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: bisque;
}
